*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Karla", sans-serif;
}

.body{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    background-color: rgb(184, 184, 184);
}

.header{
    display: flex;
    justify-content: left;
    align-items: center;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    padding: 2rem;
}

.header-logo{
    margin-right: 1rem;
    width: 5rem;
}

.header-title{
    margin: 0;
    color: white;
    font-size: 3rem;
    font-weight: 500;
    margin-left: 2rem;
}

.meme-form{
    display: flex;
    flex-direction: column;
}

.meme-form-input{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.meme-form-ln1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

input{
    width: 20rem;
    padding: 0.5rem;
    font-size: large;
}

label{
    margin-bottom: 0.5rem;
    font-size: large;
}

.meme-form-ln2{
    margin: auto;
}

.meme-form button{
    border-radius: 0.2rem;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
    width: 48rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
}

.meme-image {
    margin:1rem auto;
    width: 82%;
    max-height: 40vh;
}